.bar {
  height: 100%;
  background-color: #3b82f6;
  transition: 
    background-color 0.3s ease,
    width 1s linear;
}

.warn {
  span {
    color: orange;
  }

  .bar {
    background: orange;
  }
}

.danger {
  span {
    color: red;
  }

  .bar {
    background: red;
  }
}
