

<section class="hero-section d-flex align-items-center">
  <div class="overlay"></div>

  <div class="container text-center text-black hero-content">
    <h1 class="display-4 fw-bold mb-4">
      Welcome To My&nbsp;
      <span class="animated-text">
        <span *ngFor="let text of texts; let i = index"
              [class.active]="i === currentIndex">
          {{ text }}
        </span>
      </span>
    </h1>

    <p class="lead mb-4">
      Build modern, powerful apps with Angular + Bootstrap.
    </p>

    <button class="btn btn-primary btn-lg px-4">
      Get Started
    </button>
  </div>
</section>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button matButton>LIKE</button>
    <button matButton>SHARE</button>
  </mat-card-actions>
</mat-card>

<section class="container py-5">
  <h2 class="text-center mb-5 fw-bold">Our Features</h2>

  <div class="row g-4">
    <div class="col-md-4" *ngFor="let card of cards">
      <div class="custom-card h-100 shadow-sm">
        
        <div class="card-header text-center fw-semibold py-3">
          {{ card.title }}
        </div>

        <img [src]="card.image" class="card-img-top" alt="Card Image">

        <div class="card-body text-center">
          <p class="card-text mb-4">{{ card.description }}</p>
          <button class="btn btn-primary px-4">{{ card.button }}</button>
        </div>

      </div>
    </div>
  </div>
</section>


