<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Mahir Angular</span>
  <span class="example-spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/about">About</a>
  <a mat-button routerLink="/calculator">Calculator</a>
  <a mat-button routerLink="/directive">Directive</a>
  <a mat-button routerLink="/to-do">To-Do</a>
  <a mat-button routerLink="/student">Student</a>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
